body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}


#game-log textarea {
  width: 100%;
  height: 150px;
  background-color: #333;
  color: #fff;
  border: none;
  resize: none;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

#avatars {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 5px;
}



@keyframes hit {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Занимает всю высоту экрана */
}

#game-log {
  margin-top: auto; /* Перемещает журнал событий вниз */
}

#character-and-inventory {
  display: flex; /* Используем flexbox для размещения элементов */
  justify-content: space-between; /* Размещаем элементы по краям */
  align-items: flex-start; /* Выравниваем по верхнему краю */
  margin-bottom: 20px; /* Отступ снизу */
}

#character-stats,
#inventory {
  width: 48%; /* Каждая секция занимает примерно половину ширины */
}

#character-stats {
  text-align: left; /* Текст выравнивается по левому краю */
}

#inventory {
  text-align: right; /* Текст выравнивается по правому краю */
}

#inventory-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
}

#inventory-list li {
  margin-bottom: 5px; /* Отступ между элементами инвентаря */
}